<div class="container">
	<div class="well">
		<h3 class="text-center">
			Welcome <%=session.name%> !!!
		</h3>
	</div>
</div>

<div class="container col-md-6 col-md-offset-3">
	<table class="table table-bordered">
		<tr>
			<td>FULLNAME</td>
			<td><%=data.fullname%></td>
		</tr>
	</table>
</div>