<div class="container">
	<div class="well">
		<h3 class="text-center">
			Add Category
		</h3>
	</div>

	<form method="post" action="/add" enctype="multipart/form-data">
		<label>Add Category</label>
		<input type="text" name="name" placeholder="category"><br><br>

		<label>Category Image</label><br>
		<input type="file" name="img"><br>

		<button class="btn btn-primary" type="submit">Add</button>
	</form>
</div>